<p>Yoolk.Inc, Yellow Tower, Chhroy Changva, Reusey Keo,<%= puts "\n" %>
Phnom Penh, Cambodia.</p>

<p><strong>Tel: </strong></p>
<p><strong>Fax: </strong></p>
<p><strong>Email:</strong> contact@yoolk.com</p>
<p><strong>Website:</strong> <a href="http://www.yoolk.com">www.yoolk.com</a> </p>
