<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Courses Management Application", root_path, class:"navbar-brand" %>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav pull-right">
        <li>
          <%= link_to "Home", root_url %>
        </li>
        <li>
          <a href="#">Courses</a>
        </li>
        <li class="active">
          <a href="#">Tutors</a>
        </li>
        <li>
          <a href="#">Clients</a>
        </li>
        <li>
          <%= link_to "Contact", contact_url %>
        </li>
      </ul>
    </nav>
  </div>
</header>