<div class="list-group">
  <!-- List group -->
  <ul>
    <li class="btn btn-success btn-block">Add new course</li>
  </ul>
  <ul>
    <li class="list-group-item active">List of categories</li>
    <li class="list-group-item">List textbooks</li>
    <li class="list-group-item"><span class="badge">10</span>List course objective</li>
    <li class="list-group-item">Enrollments</li>
  </ul>
</div>
