
<div class="list-group">
  <!-- List group -->
  <ul>
    <%= link_to "Add new course", new_course_url, class:"btn btn-success btn-block" %>
  </ul>
  <ul>
    <li class="list-group-item"><%= link_to "Course Categories", categories_url %></li>
    <li class="list-group-item"><span class="badge">10</span>List course objective</li>
    <li class="list-group-item">Enrollments</li>    
  </ul>
</div>